<launch>
    <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->
	<arg name="custom_gmapping_launch_file" default="$(find turtlebot_navigation)/launch/includes/gmapping/$(arg 3d_sensor)_gmapping.launch.xml"/>
	<include file="$(arg custom_gmapping_launch_file)">
		<arg name="scan_topic"  default="alice/scan" />
		<arg name="base_frame"  default="robot1_tf/base_footprint"/>
		<arg name="odom_frame" default="robot1_tf/odom"/>
	</include>
</launch>