<launch>

	<arg name="gui" default="true"/>
	<!-- <arg name="world_file" default="$(env TURTLEBOT_GAZEBO_WORLD_FILE)"/> -->
	<arg name="world_file" value="$(find human-robot-population-collab)/worlds/props.world"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="gui" value="$(arg gui)" />
		<arg name="debug" value="false"/>
		<arg name="world_name" value="$(arg world_file)"/>
	</include>

	<include file="$(find human-robot-population-collab)/launch/robots.launch"/>

	<!-- <include file="$(find human-robot-population-collab)/launch/human_teleop.launch" >
		<arg name="robot_name"  value="alice" />
	</include> -->

	<!-- <node name="rviz" pkg="rviz" type="rviz" /> -->
</launch>
