<launch>
	<!-- Convert an xacro and put on parameter server -->
	<!-- <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot_description)/robots/kobuki_hexagons_kinect.urdf.xacro" /> -->

	<!-- Spawn a robot into Gazebo -->
	<!--node name="spawn_urdf1" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model turtlebot" /-->

	<arg name="base"       value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
	<arg name="battery"    value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 -->
	<arg name="stacks"     value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
	<arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/> <!-- kinect, asus_xtion_pro -->

	<arg name="urdf_file" default="$(find xacro)/xacro.py $(find turtlebot_description)/robots/$(arg base)_$(arg stacks)_$(arg 3d_sensor).urdf.xacro"/>
	<param name="robot_description" command="$(arg urdf_file)"/>

	<!-- BEGIN ROBOT 1-->
	  <group ns="alice">
	    <param name="tf_prefix" value="robot1_tf" />
	    <include file="$(find human-robot-population-collab)/launch/turtlebot.launch" >
	      <arg name="init_pose" value="-x 0 -y 0 -z 0" />
	      <arg name="robot_name"  value="alice" />
	    </include>
	  </group>
	 
	  <!-- BEGIN ROBOT 2-->
	  <group ns="bob">
	    <param name="tf_prefix" value="robot2_tf" />
	    <include file="$(find human-robot-population-collab)/launch/turtlebot.launch" >
	      <arg name="init_pose" value="-x 0 -y -2 -z 0" />
	      <arg name="robot_name"  value="bob" />
	    </include>
	  </group>

	<!-- BEGIN ROBOT 3-->
	  <!-- <group ns="charlie">
	    <param name="tf_prefix" value="robot3_tf" />
	    <include file="$(find human-robot-population-collab)/launch/turtlebot.launch" >
	      <arg name="init_pose" value="-x 1 -y -1 -z 0" />
	      <arg name="robot_name"  value="charlie" />
	    </include>
	  </group> -->

	<!-- BEGIN ROBOT 4-->
	  <!-- <group ns="dave">
	    <param name="tf_prefix" value="robot4_tf" />
	    <include file="$(find human-robot-population-collab)/launch/turtlebot.launch" >
	      <arg name="init_pose" value="-x -1 -y -1 -z 0" />
	      <arg name="robot_name"  value="dave" />
	    </include>
	  </group> -->

</launch>
